$white-200: #F8F8F8;
$white-300: #F8F9FA;

$black-800: #212529;

$purple-900: #301E5F;
$purple-800: #6A33F8;
$purple-700: #6A33FF;

$red-900: #C72424;

$gray-900: #707070;
$gray-800: #797979;
$gray-700: #818A91;
$gray-600: #B9B9B9;
$gray-500: #BFBFBF;
$gray-400: #CED4DA;
$gray-300: rgba(0, 0, 0, 0.13);